@using Duende.IdentityServer.Models
@model ApiScope

<h2>Delete</h2>

<form asp-action="Delete" asp-route-id="@Model.Name" method="post">
    <p>Are you sure you want to delete @Model.Name?</p>
    <p>This action cannot be undone</p>
    <div>
        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.Name">Cancel</a>
        <button class="btn btn-danger" type="submit">Delete</button>
    </div>
</form>