@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Admin Site</h1>
    <p>This site will be the central Admin hub for all applications and identity.</p>
</div>

<div class="card mt-5">
    <div class="card-body">
        <h3>Features</h3>
        <p>Only basic login/logout + registration available right now. More to come soon..</p>
        <p>Features will be shown in sections below</p>

        <hr />

        <h4>User Accounts + Admin Site Login</h4>
        <p>Right now, there is no "end user" site to register/log into. There is only this site (which is the identity server) so this will be considered the admin site.</p>
        <p>The current application is based off the quickstart <a href="https://github.com/DuendeSoftware/Samples/tree/main/IdentityServer/v6/Quickstarts/5_AspNetIdentity">here</a>.</p>
        <p>If you look at the  <a href="https://github.com/DuendeSoftware/Samples/tree/main/IdentityServer/v6/Quickstarts/5_AspNetIdentity/src/MvcClient">MVC Client Example</a>, that will basically be the end user site.</p>
        
        <div class="list-group d-inline-block min-30">
            <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="/" class="list-group-item list-group-item-action">Login</a>
            <a asp-controller="Account" asp-action="Register" class="list-group-item list-group-item-action">Register</a>
        </div>

        <hr />

        <h4>Identity Server Config/Mgmt</h4>
        <p>These pages are used for configuration of the Identity Server itself.</p>
        <p>These configurations include the concepts of Identity reources, API scopes, API resources, etc.</p>
        <p>The settings configured will allow different types of client to connect and authenticate with the central Identity Server.</p>
        
        <div class="list-group d-inline-block min-30">
            <a asp-controller="IdentityServer" asp-action="IdentityResources" class="list-group-item list-group-item-action">Identity Resources</a>
            <a asp-controller="IdentityServer" asp-action="ApiScopes" class="list-group-item list-group-item-action">API Scopes</a>
        </div>

        <hr />

        <h4>Theming Test</h4>

        <div>
            <button class="btn btn-primary">Primary Button</button>
            <button class="btn btn-secondary">Secondary Button</button>
            <button class="btn btn-danger">Danger Button</button>
            <button class="btn btn-success">Success Button</button>
            <button class="btn btn-test">Test Button</button>
        </div>

    </div>
</div>
