@using Duende.IdentityServer.Models
@model List<Client>

<div class="card shadow-sm">
    <div class="card-body">

        <h2>Clients</h2>

        <div>
            <a class="link-primary" asp-action="Create">Create New Client</a>
        </div>

        <hr />



    </div>
</div>
