@using Duende.IdentityServer.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>@ViewData["Title"] - MusicHub.IdentityServer</title>
    
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicHub.IdentityServer.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/b6fda12197.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="flex-grow-1">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-primary" asp-area="" asp-controller="Home" asp-action="Index">
                    <span  class="me-2"><i class="fas fa-music"></i></span>
                    <span>AT Software</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="~/.well-known/openid-configuration">Discovery</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-primary dropdown-toggle" href='#' data-bs-toggle="dropdown" >Identity</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" asp-controller="IdentityServer" asp-action="Index">Identity</a></li>
                                <li><a class="dropdown-item" asp-controller="IdentityServer" asp-action="IdentityResources">Identity Resources</a></li>
                                <li><a class="dropdown-item" asp-controller="IdentityServer" asp-action="ApiScopes">API Scopes</a></li>
                            </ul>
                        </li> 
                    </ul>
                    @if (!string.IsNullOrWhiteSpace(name))
                        {
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@name <b class="caret"></b></a>
                                
                                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-start dropdown-menu-sm-end">
                                    <a class="dropdown-item" asp-controller="Profile" asp-action="Index">Profile</a>
                                    <a class="dropdown-item" href="~/diagnostics">Diagnostics</a>
                                    <a class="dropdown-item" href="~/grants">Grants</a>
                                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                                </div>
                                
                            </div>
                        } else
                        {
                            <a class="nav-link text-primary" asp-action="Login" asp-controller="Account" asp-route-returnUrl="/">Login</a>
                        }
                    
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container" id="mainContainer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted flex-grow-1">
        <div class="container">
            &copy; 2021 - AT Software - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <!-- Load our React component. -->
    

    <script src="~/js/site.js" asp-append-version="true"></script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
