@model RegisterInputModel

<div class="row">
    <div class="col-sm-6">
        <div class="card bg-dark">
            <div class="card-header">
                <h2>Register</h2>
            </div>

            <div class="card-body">
                <form asp-route="Register" method="post">
                            
                    <div class="form-group mb-3">
                        <label asp-for="Username"></label>
                        <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Email"></label>
                        <input type="email" class="form-control" placeholder="Username" asp-for="Email" >
                    </div>
                    
                    <div class="form-group mb-3">
                        <label asp-for="Password"></label>
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword" />
                    </div>
                    
                    <div class="mt-4">
                        <button class="btn btn-primary" name="button" type="submit">Create</button>
                        <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>