<div class="card bg-dark">
    <div class="card-body">
        <h3 class="mb-3">Identity Server Admin</h3>

        <div class="list-group d-inline-block min-30">
            <a asp-controller="IdentityServer" asp-action="IdentityResources" class="list-group-item list-group-item-action">Identity Resources</a>
        </div>
    </div>
</div>