@using Duende.IdentityServer.Models

@model IEnumerable<IdentityResource>


<div class="card shadow-sm">
    <div class="card-body">
        <h2>Identity Resources</h2>
        <div>
            <a class="link-primary" asp-action="Create">Create New Resource</a>
        </div>

        <hr />

        <table class="table align-middle">
            <thead>
                <th>Name</th>
                <th>Display Name</th>
                <th>Description</th>
                <th></th>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.DisplayName</td>
                        <td>@item.Description</td>
                        <td><a class="link-primary" asp-action="Details" asp-route-id="@item.Name">Details</a> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

